@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

html, body {
  background: $color-white;
  font-family: 'Open Sans', sans-serif !important;
  color: $color-gray;
  font-size: 16px;
}

.link {
  color: $color-green-link;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;

  &:after {
    content: ' \00BB';
    font-size: 24px;
  }
}

.img-responsive {
  width: 100%;
}
